<!-- Thomas McLean
     March 3, 2019
     timestampr
     Based off of https://freshman.tech/microservice/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge" />
</head>
<body>
    <h1>404</h1>
    <p>This is the error page. You might be seeing this if you didn't properly use the api or tried an invalid address. You can head back home <a href="/">here</a></p>
</body>






</html>